* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

a {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

body {
  background-color:#E4E4E4;
  background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
  background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
  background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
  background-image:-webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #A7A7A7),
    color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
  }

  #maps {
    width: 100vw;
    height: 100vh;
  }


  /* Landscape layout (with min-width) */
  @media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
      background-position:left center;
      padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
      margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
      /* offset horizontal: half of image width and text area width */
    }
  }

  h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
  }

  .event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
  }

  .event.listening {
    background-color:#333333;
    display:block;
  }

  .event.received {
    background-color:#4B946A;
    display:none;
  }

  @keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
  }

  @-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
  }

  .blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
  }

  /*　↓検索フォーム↓　*/
  #search_form{
    position: relative;
    height: 50px;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    background: #fff;
    transition: all 0.3s ease;
  }

  #search_form.focus{
    box-shadow: : 0 3px 4px rgba(0, 0, 0, 0.15);
  }

  #address{
    position: absolute;
    top: 10px;
    left: 50px;
    font-size: 20px;
    background: none;
    color: #5a6674;
    width: 195px;
    height: 20px;
    border: none;
    appearance: none;
    outline: none;
  }

  #address::-webkit-search-cancel-button {
    appearance: none;
  }

  .head{
    background-color: #EEEEEE;
  }

  /*
  #address:focus{
  border:solid 1px #20b2aa;
}

#address:select{
outline: none;
}
*/

#map_button{
  position: absolute;
  top: 10px;
  left: 15px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}

#map_button svg {
  width: 30px;
  height: 30px;
  fill: #5a6674;
}

.search-option {
  position: absolute;
  text-align: right;
  top: 10px;
  right: 15px;
}

.search-option div {
  position: relative;
  display: inline-block;
  margin: 0 1px;
  cursor: pointer;
}
.search-option div input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.01;
  cursor: pointer;
}
.search-option div span {
  position: absolute;
  display: block;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  background: #929AA3;
  color: #fff;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
  padding: 4px 7px;
  border-radius: 12px;
  top: -18px;
  transition: all 0.2s ease-in-out;
}
.search-option div span::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 4px solid #929AA3;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transition: all 0.2s ease-in-out;
}
.search-option div:hover span {
  opacity: 1;
  top: -21px;
}
.search-option div label {
  display: block;
  cursor: pointer;
}
.search-option div svg {
  height: 20px;
  width: 20px;
  fill: #5a6674;
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}
.search-option div:hover svg {
  opacity: 1;
}
.search-option div input:checked + label svg {
  fill: #e24040;
  opacity: 0.9;
}
.search-option div input:checked + label span {
  background: #e24040;
}
.search-option div input:checked + label span::after {
  border-top-color: #e24040;
}





/*　↓ナビゲーションドロワー↓　*/
header {
  padding:10px;
  background-color: : transparent;
}

#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコン*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用カバー*/
#nav-close {
  display: none;/*隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 90%;
  max-width: 450px;/*最大幅*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠くす*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

/*　↓ナビゲーションドロワー↓　RIGHT　*/
.right-btn {
  background: url(../img/com.jpeg)no-repeat;
  display: block;
  width:35px;
  height: 35px;
  position: absolute;
  top:20px;
  right:20px;
  cursor: pointer;
  z-index: 200;
}
.peke {
  background-position: -35px 0;
}
.right-nav-drawer {
  display: none;
  background-color:rgb(255,255,255);
  position: absolute;
  top: 0px;
  right:0;
  width:470px;
  padding:60px 0 20px 20px;
  z-index: 100;
}





















/* #answer-call{
  display: none;
}
#no-call{
  display: none;
} */

#video{
  display:none;
}
#video.open{
  display:block;
}

body > header{
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100vw;
  height: 50px;
  background-color:transparent;
}

#video-alert{
  width: 200px
}





/*ツイート*/
.profile_img{
  border-radius: 20px;
  height: 40px;
  width: 40px;
  position: absolute;
}

.user_name{
  position: relative;
  bottom: 10px;
  left: 50px;
  float: left;
  margin-right: 5px;
  font-weight: bold;
  font-size: 15px;
}

.date{
  position: relative;
  bottom: 8px;
  left: 50px;
}

.body{
  position: relative;
  bottom: 10px;
  left: 50px;
  clear: both;
}


/* ツイートの画像分割 */

.photos_1 img,
.photos_2 img,
.photos_3 img,
.photos_4 img {
  position          : absolute;
  top               : 50%;
  left              : 50%;
  min-width         : 100%;
  min-height        : 100%;
  -webkit-transform : translate(-50%, -50%);
  -ms-transform : translate(-50%, -50%);
  transform : translate(-50%, -50%);
}

.photos_1,
.photos_2,
.photos_3,
.photos_4 {
  width  : 100%;
  height : 300px;
}

.photos_img_wrapper_0,
.photos_img_wrapper_1,
.photos_img_wrapper_2,
.photos_img_wrapper_3 {
  position     : relative;
  border-color : transparent;
  border-style : solid;
  border-width : 2px;
  overflow     : hidden;
  box-sizing   : border-box;
}

.photos_1 .photos_img_wrapper_0 {
  width  : 100%;
  height : 300px;
}

.photos_2 .photos_img_wrapper_0 {
  float  : left;
  width  : 70%;
  height : 300px;
}
.photos_2 .photos_img_wrapper_1 {
  width  : 30%;
  height : 300px;
}

.photos_3 .photos_img_wrapper_0 {
  float  : left;
  width  : 70%;
  height : 300px;
}
.photos_3 .photos_img_wrapper_1,
.photos_3 .photos_img_wrapper_2 {
  width  : 30%;
  height : 150px;
}

.photos_4 .photos_img_wrapper_0 {
  float  : left;
  width  : 70%;
  height : 300px;
}
.photos_4 .photos_img_wrapper_1,
.photos_4 .photos_img_wrapper_2,
.photos_4 .photos_img_wrapper_3 {
  width  : 30%;
  height : 100px;
}
